* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* border-box全局继承 */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* li无点 */
ul,
li {
    list-style: none;
}

/* a标签初始化 */
a {
    color: #212121;
    transition: color .3s;
    white-space: nowrap;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

/* 去掉Vue路由标签发光 */
.router-link-active {
    text-shadow: none;
}

.bili-icon_dingdao_zhuzhan {
    margin-right: 6px;
    font-size: 18px !important;

}

.bili-icon_dingdao_xiazaiapp {
    margin-right: 2px;
    font-size: 18px !important;
    vertical-align: middle;
}

/* 全局鼠标滑过蓝光过渡 */
.hover-blue:hover,
.hover-blue:hover span,
.hover-blue:hover p,
.hover-blue:hover a {
    color: #00a1d6 !important;
    transition: color .3s !important;
}

.hover-blue-ite1:hover p {
    color: #00a1d6 !important;
    transition: color .3s !important;
}